/*Start pixar code*/

#footer{
  background: transparent;
  height: 68px;
  position: fixed;
  bottom: -61px;
  opacity: 0;
  z-index: 3;
}

.bottom_btn_holder a{
  color: #939598;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'DroidSerif-Italic';
}
  .nav_left{
    cursor: pointer;
  }
  .nav_left:hover{
     color: white;
  }
  .nav_right{
  cursor: pointer;
  }
  .nav_right:hover{
    color: white;
  }

@media only screen and (min-width: 758px) and (max-width: 975px) {
  /*.bottom_btn_holder{
    width: 66px !important;
  }*/
}

/*End pixar code*/

body,html{
  height:100%;
  background-color:#435399;
  background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/bg3.png") repeat scroll 0 0 #435399;
}
body{
  font-family: arial, helvetica, sans-serif!important;
  overflow-y: hidden;
  overflow-x: hidden;
}

h2{
  color: #d5d9e8 !important;
  font-size: 50px;
}
h3{
  color:white!important;
}
h4 {
  font-size: 1.1em;
}

nav {
  height: 100%;
  position: fixed;
  width: 50px;
}

ul{
  font-size: 0.875em !important;
  color: rgba(0, 0, 0, 0.75);
  background: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  list-style-type: none!important;
}

label {
  display: inline-block;
}

.panel.callout {
  margin-top:200px;
}


.splash p, .splash ol {
  color: white;
}

.splash p.lead, .splash h1  {
  color: #d5d9e8 !important;
}

.clearer {clear:both;height:1px;font-size:0px;border:none;margin:0;padding:0;background:transparent;}

.row.row{
  background-color: transparent !important;
  height: 200% !important;
}

.callout{
  box-shadow: none !important;
}

#splash{
  height:auto;
}

#mainNav{ margin-top: 15%;display: none;}

.menuScreen{
  position:relative;
  width:300px;
  top:50%;
  margin-left: auto ;
  margin-right: auto ;
  color:#1e2747;
}
.menuScreen h2{
  border-bottom: 1px solid #fff;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0px;
  font-size: 1.4em !important;
  text-align: center;
}
.menuScreen p{
  color: rgba(255, 255, 255, 0.4);
  margin: 3px 0px 5px 0px;
  font-size: 0.9em;
  text-align: center;
}
.menuScreen .icon {
  height:125px;
  width:125px;
  cursor:pointer;
  -webkit-transition: background 0.7s ease-out;
  -moz-transition: background 0.7s ease-out;
  -o-transition: background 0.7s ease-out;
  transition: background 0.7s ease-out;
}

.menuScreen .circleText,.menuScreen .circle-closed,.menuScreen .circle,.menuScreen .id,.menuScreen .family,.menuScreen .work,.menuScreen .cc,.menuScreen .umbrella,.menuScreen .clipboard{
  position: absolute;
}

.menuScreen .circleText {
  top: 96px;
  left: 63px;
  width: 173px;
  height: 109px;
}
.menuScreen .circle-closed, .menuScreen .circle{
  top:0px;
  height:300px;
  width:300px;
}
.menuScreen .circle-closed{
  background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/circle-centre-closed.png") no-repeat;
}
.menuScreen .circle{
  background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/circle-centre.png") no-repeat;
}
.menuScreen .id{
  top: -121px;
  left: 85px;
}

.menuScreen .family{
  top: -14px;
  left: 295px;
}

.menuScreen .work{
  top: 191px;
  left: 285px;
}

.menuScreen .cc{
  top: 204px;
  left: -110px;
}

.menuScreen .umbrella{
  top: 20px;
  left: -110px;
}

.menuScreen .clipboard{
  top: 300px;
  left: 89.5px;
}

.menuScreen i {
  color:#354279; 
  font-size: 125px;
  text-decoration: none;
}

.menuScreen i:hover {
  color:white; 
}

.menuScreen dd a {
  display: block !important; 
}

#smallMenu{
  background-color: rgb(237, 234, 237);
  text-align: center;
}

#smallMenu a {
  width:125px;
  height: 125px;
  left: auto;
}

#smallMenu .active a{
  background: #db830e;
}

#smallMenu i {
  color: #747476!important;
   font-size: 65px;
  text-shadow: 0 1px #000000;
}

#smallMenu i:hover{
  color: white !important;
  cursor: pointer;
}

#smallMenu dd {
  width: 150px; /*132px;*/
  position: relative;
}

#smallMenu #coverType {
  width: 100px;
}

#smallMenu #coverType div {
  cursor: pointer;
}

#smallMenu .icon-check{
  display: none;
  bottom: 25px;
  color: green !important;
  font-size: 30px ;
  left: 17px;
  position: absolute;
}

#smallMenu .icon-exclamation{
  display: none;
  bottom: 25px;
  color: #fd3a4a !important;
  font-size: 30px ;
  left: 121px;
  position: absolute;
}

#smallMenu h4{
  color: #747476!important;
}


.selected{
  background: #db830e;
}

.selected a {
  color: white !important;
  font-weight: bold;
}

.sliderGroup{
  margin-top: 15px !important;
}

/*.sliderOutput{
  width:100%;
  background: none repeat scroll 0 0 #334076;
  border-color: #000000;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -5px;
  text-align: center;
}*/
.sliderOutput {
  font-size: 16px;
  height: 30px;
  width: 100%;
  background: none repeat scroll 0 0 #334076;
  border-color: #000000;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  margin-top: -10px;
  text-align: center;
}

.clacSlider{
  margin-bottom:8px;
}
.custom select {
  display: none;  
}

#resultsSmall{
  position:absolute !important;    
  right:0;            
  width: 55px !important;
}

#resultsSmall i{
  color: #555555!important;
}

#resultsSmall h4{

}

.ival{
  width: 180px !important;
}

.dob{
  min-height: 200px;
}

.pricing-table .description {
  font-size: 18px;
}


.row.results{
  height: 100% !important;
}

.results .panel.callout {
  background-color: #efefef;
  border-radius: 100px;
  color: #555555 !important;
}

.results .panel.callout h1{
  color: #555555;
}

.startList li{
  display: list-item !important;
}

/*Table Styles*/
#userInfo thead tr{background: #FFF !important;}
#userInfo tr:nth-child(odd) {background: #CCC}
#userInfo tr:nth-child(even) {background: #FFF}
tr { font-size: 18px;}

.custom *{
  color:white;
}

ul.ui-widget-content{
  font-size: 0.875em !important;
  color: rgba(0, 0, 0, 0.75);
  background: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.ui-widget-content li {
  font-size: 0.875em !important;
  color: rgba(0, 0, 0, 0.75);
  background: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.ui-menu .ui-menu-item a:hover{
   background: white;
};
.ui-menu .ui-menu-item a:focus{
   background: white;
};
.ui-menu .ui-menu-item a:active{
   background: white;
};

/* Styles for screens that are atleast 500px; */

.screen{
  border-radius: 200px !important;
}
.occupation{
  width:100%;
  height:32px;
  padding-left: 5px;
  font-size: 16px !important;
   font-size: 14px\0/ !important;
  color: rgba(0, 0, 0, 0.75) !important;
  font-family: arial, helvetica, sans-serif!important;
}

#jobStatus .custom.dropdown .current, #jobStatus .custom.dropdown li {
  font-size: 15px;
}

#p1JobStatus .custom.dropdown .current, #p1JobStatus .custom.dropdown li {
  font-size: 15px;
}

#p2JobStatus .custom.dropdown .current, #p2JobStatus .custom.dropdown li {
  font-size: 15px;
}


/* Styles for Ipad */ 
@media only screen and (min-width: 758px) and (max-width: 975px) {
  #smallMenu dd {
    width: 115px;
  }

  #smallMenu #coverType {
    width: 75px;
  }

  #yourInfo .knob{
    top:0px;  
    margin-left:35px !important;
  }

   #yourInfo .knobTick{
    top:0px;  
    margin-left:35px !important;
  }

  #family .knob{
    top:0px;  
    margin-left:35px !important;
  }

  #family .knobTick{
    top:0px;  
    margin-left:35px !important;

  }

  #yourJob #monthlyWage .knob{
    top:0px;  
  }

  #yourJob #p1NetMonthlyIncome .knob ,#yourJob #p2NetMonthlyIncome .knob{
    top:0px;  
    margin-left:37px !important;
  }

  #yourOutgoings p{
    font-size: 20px !important;
  }

  .menuScreen {
    margin-top: 200px !important;
  }

  .bottom_btn_holder{
    width: 66px !important;
  }
  .hide-for-ipad{
    display: none !important; 
  }
}

@media only screen and (max-width: 1080px) {
  #coverType{
    top:120%;
  }
}

@media only screen and (min-width: 10px) and (max-width: 388px) {
    #yourJob #p1NetMonthlyIncome .knob ,#yourJob #p2NetMonthlyIncome .knob{
    margin-left:-101px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
   #yourJob #monthlyWage .knob{
    left: 275px !important;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  #smallMenu .icon-check {
    left:80px !important;
  }
  #smallMenu .icon-exclamation {
    left: 80px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
   .hide-for-ipad{
    display: none !important; 
  }
}




@media only print {

  h2 {
    font-size: 35px !important;
  }

  .pricing-table .bullet-item,.pricing-table .description,.pricing-table .title {
    font-size:12pt !important;
  }

 .hide-for-print{
  display: none !important;
 }

 .results{display: none !important;}

 .show-for-print{
  display: block !important;
 }
 .row.row{
  background-color: #fff!important;
  height: auto !important;
}

  #printPage2{
    page-break-before: always;
  }

  html,body{background:white;font-size:12pt !important;}
}


@media only screen  and (max-height : 768px) {
  .panel.callout {
    margin-top:110px;
  }
}


@media only screen and (min-height: : 758px) and (max-height : 975px) {
  .menuScreen {
    margin-top: 200px !important;
  }

  #smallMenu .icon-check {
    left: 85px;
  }

  #smallMenu .icon-exclamation {
    left: 85px;
  }
}

@media only screen and (max-width: 388px) {
 #yourInfo .knob{
    top:0px;  
    margin-left:35px !important;
  }

   #yourInfo .knobTick{
    top:0px;  
    margin-left:35px !important;
  }
}

@media only screen and (max-width: 358px) {
  #family .knob{
    top:0px;  
    margin-left:35px !important;
  }

    #family .knobTick{
    top:0px;  
    margin-left:35px !important;
  }
}

@media only screen and (max-width: 425px) {
  #family .knob{
    top:0px;  
    margin-left:35px !important;
  }

   #family .knobTick{
    top:0px;  
    margin-left:35px !important;
  }
}

@media only screen and (max-width: 386px) {
  #yourJob .knob{
    top:0px;  
    margin-left:70px !important;
  }
   #yourJob .knobTick{
    top:0px;  
    margin-left:70px !important;
  }
}



#footer i {
  font-size: 50px !important;
}
#yourInfo h6{
  font-size: 15px;
}
#family h6 {
  font-size: 20px;
} 
#yourJob h6{
  font-size: 17px; 
}

#yourNeeds h6{
  font-size: 19px;
}

#yourOutgoings h6{
  font-size: 19px;
}

#yourOutgoings p, #yourCover p{
  font-size: 18px;
}
#yourNeeds p{
  font-size: 18px;
}

.error{
  display:none;
  color: #fd3a4a !important;
}

.day, .month, .year {
  color:#ffffff!important;
  border:none!important;
  height: 28px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
}
.day{
  background: #00aad2 !important;
}

.month{
  background: #f4aa00 !important;
}

.year{
  background: #5cc151 !important;
}

.circleText span{
  color: #d5d9e8  !important;
}

/*FONTS */
@font-face{
  font-family: '8thelementb2';
  src: url('../font/8thelementb2.ttf')
}

#fourthScreen h3, #fourthScreen p, #fifthScreen h4,  #fifthScreen p{
  color: #555555 !important;
}

.monthlyPrem{
  font-size: 35px;
  color: #db830e;
  margin-left: 10px;
  margin-right: 10px;
}

.prem, .levy, .fee, .finalResultsScreenLife, .finalResultsScreenMonthly{
  color: #f19c2b;
  font-weight: bold;
}

.current{
  font-size: 0.875em;
}

small {
font-size: 75% !important;
}

#disabler {
  display: none;
  margin-top: 20%;
  margin-left: 20%;
  position: absolute;
  width: 60%;
  height: 60%;
  background: white;
  top: 0;
  border-radius: 20px;
  opacity: .11;
  filter: alpha(opacity=11);
  z-index: 5;
}




/* -----------------------------------------
   JQUERY SLIDER - Bespoke set up for the 
   responsive version of the pension calculator
----------------------------------------- */
.ui-widget-content {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #b6b6b6; 
    background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/slider.inside.png") repeat scroll 0 0 #aaa;
    
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.ui-widget-header {
border: 1px solid #B7BAC4;  
                background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/slider.highlight.png") repeat-x scroll 0 0 transparent; 
                color: #ffffff; 
                font-weight: bold; 
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/slider.handle.png") repeat scroll 0 0 transparent; -moz-border-radius: 15px !important; -webkit-border-radius:  15px !important; border-radius:  15px !important; border:0px solid white !important;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #ffffff; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/slider.handle.png") repeat scroll 0 -37px transparent;border:0px solid white !important;}
.ui-state-hover a, .ui-state-hover a:hover { color: #2b2b2b; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url("https://www.irishlife.ie/secureWeb/uploadedImages/retail/images/slider.handle.png") repeat scroll 0 -74px transparent; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }


.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 38px; height: 38px; cursor: pointer;outline-width: 0; }
.ui-slider .ui-slider-range { position: absolute; z-index: 0/*1*/; font-size: .7em; display: block; border: 0; background-position: 0 0; 
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-border-radius: 3px;}

.ui-slider-horizontal { height: 14px; }
.ui-slider-horizontal .ui-slider-handle { top: -12px; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }


.ui-menu-item .ui-state-focus{
    font-weight: bold;
    background: transparent !important;
}


.ui-slider {
    margin-bottom: 15px !important;
}
