<style type="text/css">
<!--

.uwConversationBkd { background-color: #ccccfe; }

.uwConversation {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCff;
    }

.uwConversationb {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	color: #000000;
	font-size: 10pt; 
	background-color: #ccccfe;
	}


.questions {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCff;
    }

.questionsHide {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #CCCCff;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCff;
    }

.questionsMidBkd {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }

.questionsMidBkdHide {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #9999fe;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }

.questions1uw {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	line-weight: bold;
	font-size: 10pt;
	text-transform: none;
	color: blue;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCfe;
    }

.questions1uwMidBkd {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: normal;
	font-size: 10pt;
	text-transform: none;
	color: blue;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }

.questions1uwbMidBkd {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: bold;
	font-size: 10pt;
	text-transform: none;
	color: blue;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }

.questions2uw {
	font-style: italic;
	font-variant: normal;
	line-height: normal;
	line-weight: bold;
	font-size: 10pt;
	text-transform: none;
	color: blue;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCfe;
    }

.questions2uwMidBkd {
	font-style: italic;
	font-variant: normal;
	line-height: normal;
	line-weight: bold;
	font-size: 10pt;
	text-transform: none;
	color: blue;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }

.questions8pt {
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-size: 8pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    
.questionsem {
	font-style: italic;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCfe;
    }

.questionsemHide {
	font-style: italic;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #CCCCfe;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCfe;
    }

.questionsemMidBkd {
	font-style: italic;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }

.questionsemMidBkdHide {
	font-style: italic;
	font-variant: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #9999fe;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }

.questionsembMidBkd {
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }


.questionssm {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 8pt;
	text-transform: none;
	color: #000000;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
    }

.notes {
	font-style: normal;
	font-variant: normal;	
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 10pt;
	font-size: 7pt; }

.notesb {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 10pt;
	font-size: 7pt; }

.whiteheading {
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 10pt;
	text-transform: none; 
	color: #ffffff; 
	background-color: #6633cc;}

.mainheading {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 12pt;
	text-transform: capitalize;
	color: #000000;
	background-color: #ffffff;
	 } 

.questionsb {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	color: #000000;
	font-size: 10pt; 
	background-color: #ccccfe;
	}

.questionsbMidBkd {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	color: #000000;
	font-size: 10pt; 
	background-color: #9999fe;
	}
	
.standardbutton {
	width: 60px; }

.paleBackground { background-color: #CCCCfe; color: #CCCCfe; }

.midBackground  { background-color: #9999ff; color: #9999ff; }

.disabledBackground { background-color: #d0d0d0; }

.enabledBackground { background-color: #ffffff; }

.darkBackground { background-color: #6633cc; }

select.brkWidth { width: 200px; }

select.occWidth { width: 275px; }

select.fundWidth { width: 330px; }

select.productsWidth { width: 470px; }

select.productSubTypesWidth { width: 300px; }

span.starBoxShowIE { position: relative; 
                 	   visibility: visible; }

span.starBoxHideIE { position: relative;
                     visibility: hidden; }
                 
span.starBoxShowNN { position: relative; 
                     visibility: show; }

span.starBoxHideNN { position: relative;
                     visibility: hide; }
                 
span.starBoxShow { position: relative; 
                     visibility: show; }

span.starBoxHide { position: relative;
                     visibility: hide; }
                 
div.topDiv       { position: absolute;
                   left: 0;
                   top: 0;
                 }
                 
.noDecoration   { text-decoration: none;
                }

.error {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #ff3333;
    	font-family: Verdana, Arial, Helvetica, sans-serif;
    }  
    
.erroruw {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 10pt;
	text-transform: none;
	color: #f9f400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #9999fe;
    }  

.errorTitle {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 12pt;
	text-transform: capitalize;
	color: #800000;
	background-color: #9999fe;
	 } 

.errorTitlePopup {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 10pt;
	text-transform: capitalize;
	color: #800000;
	background-color: #9999fe;
	 } 

.errorSubTitle {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 12pt;
	color: #000000;
	background-color: #9999fe;
	}

.errorSubTitlePopup {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 10pt;
	color: #000000;
	background-color: #9999fe;
	}

body.noMargins  { margin-right: 0px;
                  margin-bottom: 0px;
		  background-color: #ffffff;
                }
body.popupBody {
		background-color: #9999fe;
		}

.bodyBackground {
	background-color: #ffffff;
	}

.whiteParagraph {
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 10pt;
	text-transform: none; 
	color: #ffffff; }

hr.standard {
		color: #ffffff;
	     } 

.FieldAlert {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10pt;
		color: #006633;
	     }

a:active {color: #0000cc}
a:visited {color: #551a8b}
a:link {color: #ff0000}

.formLoadingText {
        font-weight: bold;
        font-family: Times New Roman, Times, serif;
        font-size: 20pt;
        color: #000000;
        }
        
.underwritingTextColor {
	color: blue;
	font-weight: bold;
	}
	
#materialsCheck{position: relative; top: 3px; cursor: pointer; 
color: #ff0000; width: 28px; height: 28px; }

#materialsCheckLabel{cursor: pointer;}


-->
</style>
