.hidden{display:none}
.risk-question-prefix{float:left;}
.RiskAttitudeButton{margin-top:10px;}
#RiskQuestionsResponse{page-break-before: always;}
risk-profile-questions{page-break-before: always;}
@media print {
.risk-item{display:block !important;font-size:18px !important}
#risk-profile-questions{display:block !important}
#riskProfileResultsPrint{display:block !important}
#riskProfileResults{display:none !important}
.RiskAttitudeButton{display:none !important}
.risk-question-text{font-size:18px}
p{font-size:18px !important}
}