<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	<staticContent>
		<remove fileExtension=".woff2" />
		<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
	</staticContent>
    <!-- Enable url compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
	<!-- Enable http compression -->
	<httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
    <!-- Don't show directory listings for URLs which map to a directory. -->
    <directoryBrowse enabled="false" />
    <rewrite>
	  <outboundRules rewriteBeforeCache="true">
        <rule name="Remove X-Powered-By HTTP response header">

          <match serverVariable="RESPONSE_X-Powered-By" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
      <rules>
      <rule name="Redirect irishlife.ie/myonlineservices to app server ">
          <match url="^myonlineservices(.*)$" ignoreCase="false" />
          <action type="Redirect" url="https://apps.irishlife.ie/myonlineservices/{R:1}" />
      </rule>
      <rule name="Redirect irishlife.ie/advice to app server">
          <match url="^advice(.*)$" />
          <action type="Redirect" url="https://apps.irishlife.ie/advice/{R:1}" />
		  </rule>
      <rule name="Redirect irishlife.ie/eBusinessApps to app server">
          <match url="^eBusinessApps(.*)$" />
          <action type="Redirect" url="https://apps.irishlife.ie/eBusinessApps/{R:1}" />
		  </rule>
      <rule name="Redirect irishlife.ie/event to app server">
          <match url="^event(.*)$" />
          <action type="Redirect" url="https://apps.irishlife.ie/event/{R:1}" />
		  </rule>
      <rule name="Block default admin login form" >
          <match url="^user/login" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_X_FORWARDED_FOR}" pattern="156\.11\.2..\..." negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Not Authorised" statusDescription="You do not have permission to access this resource" />
        </rule>
        <rule name="Block default admin login form short version" >
          <match url="^user" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_X_FORWARDED_FOR}" pattern="156\.11\.2..\..." negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Not Authorised" statusDescription="You do not have permission to access this resource" />
        </rule>
        <rule name="Block custom admin login form" >
          <match url="^site-admin/login-to-cms" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_X_FORWARDED_FOR}" pattern="156\.11\.2..\..." negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Not Authorised" statusDescription="You do not have permission to access this resource" />
        </rule>
        <rule name="Redirect all bline traffic" >
          <match url="^bline(.*)$" />
          <action type="Redirect" url="https://www.bline.ie{R:1}" />
        </rule>
      <rule name="Force backend admin url to use drupal.irishlife">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern=".*[=\/]admin\/(.*)" />
            <add input="{HTTP_X_FORWARDED_FOR}" pattern="156\.11\.2..\..." />
            <add input="{HTTP_HOST}" pattern="^drupal\.irishlife\.ie$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://drupal.irishlife.ie/{R:0}" />
      </rule>
        <rule name="Protect files and directories from prying eyes" stopProcessing="true">
          <match url="\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)$|^(\..*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$" />
          <action type="CustomResponse" statusCode="403" subStatusCode="0" statusReason="Forbidden" statusDescription="Access is forbidden." />
        </rule>
        <rule name="Force simple error message for requests for non-existent favicon.ico" stopProcessing="true">
          <match url="favicon\.ico" />
          <action type="CustomResponse" statusCode="404" subStatusCode="1" statusReason="File Not Found" statusDescription="The requested file favicon.ico was not found" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
        </rule>
        <!-- Rewrite URLs of the form 'x' to the form 'index.php?q=x'. -->
        <rule name="Short URLs" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
    </httpErrors>

    <defaultDocument>
      <!-- Set the default document -->
      <files>
        <remove value="index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Content-Security-Policy" value="frame-src *" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="True" />
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
</configuration>

